__pycache__/*
basemodels/__pycache__/*
configurations/__pycache__/*
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.vscode/
.idea/
nearface.egg-info/
nearface/__pycache__/*
nearface/commons/__pycache__/*
nearface/basemodels/__pycache__/*
nearface/extendedmodels/__pycache__/*
nearface/subsidiarymodels/__pycache__/*
nearface/detectors/__pycache__/*
tests/dataset/*.pkl
.DS_Store
nearface/.DS_Store
tests/images

